# Dependencies
node_modules

# Logs and dev output
logs
routeTypes

# Temporary caches
*.tsbuildinfo
caches
cache
lerna-debug.log
zig-cache
Cargo.lock
bun.lockb

# Environment variables/secrets
.env
.env.development
.env.production
.env.test

# Build / Generated output
build
dist
lib
output
zig-out

data

# Temporary/dev locations
legacy
temp
tmp
debug

todo
todo.txt

serverOutput
volume
volumes

# Python specific
__pycache__
.venv

# Model caches
model_cache/
**/model_cache/**
whisper-openai-exp/
feature_cache

# Specific to this project